.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.containerColor{
  background-color: #EBE167 !important;
  border: 2px #2600FF solid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
